@model IEnumerable<MachinTest_NimapInfotech.Models.ProductViewModel>

@{
    ViewBag.Title = "Product Index";
}

<h2>Products List With Their Category</h2>

<div>
    @Html.ActionLink("Add Product", "Create", "Product", null, new { @class = "btn btn-primary", style = "margin-right: 10px;" })

    @Html.ActionLink("View Categories", "Index", "Category", null, new { @class = "btn btn-secondary" })
</div>

<table class="table">
    <thead>
        <tr>
            <th>Product ID</th>
            <th>Product Name</th>
            <th>Category ID</th>
            <th>Category Name</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.ProductId</td>
                <td>@product.ProductName</td>
                <td>@product.CategoryId</td>
                <td>@product.CategoryName</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = product.ProductId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = product.ProductId })
                </td>
            </tr>
        }
    </tbody>
</table>

<div class="pagination-container">
    @if (ViewBag.CurrentPage > 1)
    {
        @Html.ActionLink("Previous", "Index", new { page = ViewBag.CurrentPage - 1, pageSize = ViewBag.PageSize })
    }

    @* Display page numbers *@
    @for (int i = 1; i <= ViewBag.TotalPages; i++)
    {
        if (i == ViewBag.CurrentPage)
        {
            <strong>@i</strong>
        }
        else
        {
            @Html.ActionLink(i.ToString(), "Index", new { page = i, pageSize = ViewBag.PageSize })
        }
    }
    @if (ViewBag.CurrentPage < ViewBag.TotalPages)
    {
        @Html.ActionLink("Next", "Index", new { page = ViewBag.CurrentPage + 1, pageSize = ViewBag.PageSize })
    }
</div>